@import url('../global.css');

/* Styles pour la sidebar */
.main-menu-container {
    -fx-background-color: #161931;
    -fx-alignment: center;
    -fx-transition: all 0.3s ease;
}

.title-container {
    -fx-background-color: #191D38;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.title-container FontAwesomeIconView {
    -fx-fill: #736CC7;
}

.title-container Text {
    -fx-fill: #FFF;
    -fx-font-size: 1.6em;
}

.menu-container {
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

.menu-container Text {
    -fx-fill: #4A5878;
    -fx-font-size: 1em;
}

.menu-container Button {
    -fx-background-color: transparent;
    -fx-text-fill: #8A9BC8;
    -fx-font-size: 1.1em;
    -fx-alignment: center-left;
    -fx-graphic-text-gap: 10px;
    -fx-padding: 10px;
}

.menu-container Button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #FFF;
}

.menu-container Button:hover FontAwesomeIconView {
    -fx-fill: #FFF;
}

.menu-container Button FontAwesomeIconView {
    -fx-fill: #8A9BC8;
}

.separator {
    -fx-stroke: #2A2554;
    -fx-vgrow: ALWAYS;
}

.alt-menu-btn {
    -fx-pref-width: 164px;
    -fx-background-color: #243447;
    -fx-text-fill: #FFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-graphic-text-gap: 10px;
}

.alt-menu-btn FontAwesomeIconView {
    -fx-fill: #FFF;
}

.alt-menu-btn:hover {
    -fx-background-color: #1F2B3A;
    -fx-cursor: hand;
}

.logout-btn {
    -fx-pref-width: 164px;
    -fx-background-color: #FF4136;
    -fx-text-fill: #FFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-graphic-text-gap: 10px;
}

.logout-btn FontAwesomeIconView {
    -fx-fill: #FFF;
}

.logout-btn:hover {
    -fx-background-color: #E03B31;
    -fx-cursor: hand;
}

.help-support-btn {
    -fx-pref-width: 260px;
    -fx-background-color: #1E90FF;
    -fx-text-fill: #FFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-graphic-text-gap: 10px;
    -fx-padding: 10px;
}

.help-support-btn FontAwesomeIconView {
    -fx-fill: #FFF;
}

.help-support-btn:hover {
    -fx-background-color: #1C86EE;
    -fx-cursor: hand;
}
