/* Importation du fichier CSS global */
@import url('../global.css');

/* Container général du login */
.login-container {
    -fx-background-color: #161931;
}

/* Logo Container Styles */
.login-logo-container {
    -fx-background-color: #191D38;
    -fx-alignment: center;
}

.login-logo-container Text {
    -fx-font-size: 2em;
    -fx-fill: #FFF;
}

.login-logo-container FontAwesomeIconView {
    -fx-fill: #736CC7;
}

/* Login Form Styles */
.login-form-container {
    -fx-spacing: 15px;
    -fx-alignment: top-left;
}

.login-form-container Label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #4A5878;
}

.login-form-container Button {
    -fx-background-color: #1E90FF;
    -fx-text-fill: #FFF;
    -fx-pref-width: 360px;
    -fx-pref-height: 30px;
    -fx-font-size: 1.2em;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 8, 0.3, 0, 2);
}

.login-form-container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #1C86EE;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.4, 0, 3);
}

.error-lbl {
    -fx-text-fill: #FF4136;
}
