@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Appliquer la police Poppins à tout l'application */
* {
    -fx-font-family: 'Poppins', 'Arial', sans-serif;;
}

.page-title {
    -fx-font-size: 1.6em;
    -fx-font-weight: 800;
    -fx-fill: #4d5a68;
}

/* Couleurs générales */
.background-primary {
    -fx-background-color: #161931;
}

.background-secondary {
    -fx-background-color: #191D38;
}

/* Couleur du conteneur principal */
.main-container {
    -fx-background-color: #f0f6ff;
}

/* Couleurs des icônes */
.icon-primary {
    -fx-fill: #736CC7;
}

/* Couleur du texte */
.text-primary {
    -fx-text-fill: #FFFFFF;
}

.text-secondary {
    -fx-text-fill: #4A5878;
}

/* Boutons communs */
.button-primary {
    -fx-background-color: #6861C3;
    -fx-text-fill: white;
    -fx-padding: 8 20;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(54,48,128,0.3), 10, 0, 0, 5);
}

.button-primary:hover {
    -fx-background-color: #5B55AC;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(48,43,115,0.5), 15, 0, 0, 7);
}

.button-success {
    -fx-background-color: #28A745;
    -fx-text-fill: white;
    -fx-padding: 8 20;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(40,167,69,0.1), 10, 0, 0, 5); /* Ombre de base */
}

.button-success:hover {
    -fx-background-color: #218838;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(33,136,56,0.4), 15, 0, 0, 7); /* Ombre plus prononcée au survol */
}

/* Bouton d'avertissement */
.button-warning {
    -fx-background-color: #FFC107;
    -fx-text-fill: white;
    -fx-padding: 8 20;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(255,193,7,0.1), 10, 0, 0, 5); /* Ombre de base */
}

.button-warning:hover {
    -fx-background-color: #E0A800;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(224,168,0,0.4), 15, 0, 0, 7); /* Ombre plus prononcée au survol */
}

/* Bouton destructif */
.button-destructive {
    -fx-background-color: #FF4136;
    -fx-text-fill: white;
    -fx-padding: 8 20;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(255,65,54,0.1), 10, 0, 0, 5); /* Ombre de base */
}

.button-destructive:hover {
    -fx-background-color: #E03B31;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(224,59,49,0.4), 15, 0, 0, 7); /* Ombre plus prononcée au survol */
}


/* Couleurs des formulaires */
.input-field {
    -fx-background-color: #FFF;
    -fx-pref-height: 35px;
    -fx-font-size: 1.2em;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.2, 0, 1);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
}


/* Style général du tableau */
.table-view {
    -fx-alternate-row-fill-visible: true;
    -fx-control-inner-background: white;
    -fx-control-inner-background-alt: #F0F6FF;
    -fx-background-radius: 5; /* Arrondir le fond */
    -fx-border-radius: 5; /* Arrondir la bordure */
    -fx-selection-bar: #E3DDF5;
    -fx-selection-bar-non-focused: #d9e9ff;
    -fx-border-color: #ececec; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-background-insets: 0, 1; /* Ajuster l'alignement du fond */
    -fx-padding: 5px; /* Ajouter un peu d'espace intérieur */
}

/* Styliser l'arrière-plan de l'en-tête des colonnes */
.table-view .column-header {
    -fx-background-color: white;
    -fx-border-color: #FFF; /* Bordure blanche entre les colonnes */
    -fx-border-width: 0 1px 0 0; /* Bordure à droite seulement */
    -fx-background-radius: 5 5 0 0; /* Arrondir les coins supérieurs */
    -fx-border-radius: 5 5 0 0; /* Appliquer le radius à la bordure */
}

/* Styliser le texte de l'en-tête des colonnes */
.table-view .column-header .label {
    -fx-text-fill: #4d5a68;
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-weight: bold;
}

/* Effet au survol pour les en-têtes */
.table-view .column-header:hover,
.table-view .table-column-header:hover {
    -fx-background-radius: 5 5 0 0; /* Garder les coins arrondis */
}

/* Appliquer le radius aux cellules */
.table-view .table-row-cell {
    -fx-background-radius: 5; /* Appliquer le radius aux lignes */
    -fx-border-radius: 5; /* Appliquer le radius à la bordure des lignes */
}

/* Appliquer le radius au coin inférieur */
.table-view .corner {
    -fx-background-radius: 0 0 5 5; /* Arrondir les coins inférieurs */
    -fx-border-radius: 0 0 5 5; /* Appliquer le radius à la bordure */
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

/* Style pour la barre de recherche */
.search-bar {
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.search-button {
    -fx-background-color: #736CC7;
    -fx-text-fill: white;
    -fx-padding: 8 20;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
}

.icon {
    -fx-fill: #FFF;
}

