@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main_menu_container {
    -fx-background-color: #161931;
    -fx-alignment: center;
    -fx-font-family: "Poppins", sans-serif;
}

/* Title/Logo Section */
.title_container {
    -fx-background-color: #191D38;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.title_container FontAwesomeIconView {
    -fx-fill: #736CC7;
}

.title_container Text {
    -fx-fill: #FFF;
    -fx-font-size: 1.6em;
}

/* Navigation Section */
.menu_container {
    -fx-padding: 20;
    -fx-spacing: 20;
}

.menu_container Text {
    -fx-fill: #4A5878;
    -fx-font-size: 1em;
}


.menu_container Text {
    -fx-text-fill: #F0F;
}

.menu_container Button {
    -fx-pref-width: 260;
    -fx-background-color: transparent;
    -fx-text-fill: #8A9BC8;
    -fx-font-size: 1.1em;
    -fx-alignment: center-left;
    -fx-graphic-text-gap: 10;
}

.menu_container Button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #FFF;
}

.menu_container Button:hover FontAwesomeIconView {
    -fx-fill: #FFF;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #8A9BC8;
}

.separator {
    -fx-stroke: #2A2554;
}

.alt_menu_btn {
    -fx-pref-width: 164;
    -fx-background-color: #243447;
    -fx-text-fill: #FFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-graphic-text-gap: 10;
}

.alt_menu_btn FontAwesomeIconView {
    -fx-fill: #FFF;
}

/* Hover pour le bouton Paramètres */
.alt_menu_btn:hover {
    -fx-background-color: #1F2B3A;
    -fx-cursor: hand;
}

.logout_btn {
    -fx-pref-width: 164;
    -fx-background-color: #FF4136;
    -fx-text-fill: #FFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-graphic-text-gap: 10;
}

.logout_btn FontAwesomeIconView {
    -fx-fill: #FFF;
}

/* Hover pour le bouton Logout */
.logout_btn:hover {
    -fx-background-color: #E03B31;
    -fx-cursor: hand;
}

/* Report Bug/Suggestion */
.help_support_btn {
    -fx-pref-width: 260;
    -fx-background-color: #1E90FF;
    -fx-text-fill: #FFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-graphic-text-gap: 10;
    -fx-padding: 10;
}

.help_support_btn FontAwesomeIconView {
    -fx-fill: #FFF;
}

.help_support_btn:hover {
    -fx-background-color: #1C86EE;
    -fx-cursor: hand;
}
